<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800;900&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='images/logo.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    <link rel="stylesheet" 
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      
    <title>CasaSubito - {% block title%} {% endblock title %}</title>
</head>
<body class="bodyBase">
    <div class="header">
        <div class="logo">
            <a href="/HomePage"><img src="{{ url_for('static', filename='/images/logo.png')}}" alt=""><p>CasaSubito</p></a></div>
        <div class="search">
            <input type="search" name="search" id="search" placeholder="Cerca...">
            <div class="icon"></div>
        </div>
        <div class="logout">
            <p>{{ session["agent"] }}</p>
            {% if session['agent'] == "Imran" %}
                <div class="user one">
            {% elif session['agent'] == "Gianluca" %}
                <div class="user two">
            {% elif session['agent'] == "Elena" %}
                <div class="user three">
            {% elif session['agent'] == "Luca" %}
                <div class="user four">
            {% elif session['agent'] == "Lorraine" %}
                <div class="user five">
            {% endif %}
                <div class="btnUser"></div>
                <div class="userMenu">
                    <ul>
                        <li>
                            {% if session['agent'] == "Imran" %}
                            <span class="userico one">
                                I
                            </span>
                            {% elif session['agent'] == "Gianluca" %}
                            <span class="userico two">
                                G
                            </span>
                            {% elif session['agent'] == "Elena" %}
                            <span class="userico three">
                                E
                            </span>
                            {% elif session['agent'] == "Luca" %}
                            <span class="userico four">
                                L
                            </span>
                            {% elif session['agent'] == "Lorraine" %}
                            <span class="userico five">
                                L
                            </span>
                            {% endif %}
                            Profilo
                        </li>
                        <li><span class="iconLogout"></span><a href="/">Esci</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="menu" id="menu">
            <div class="contUp">
                <a href="/Clienti">CLIENTI</a>
                <a href="/Immobili">IMMOBILI</a>
            </div>
            <div class="contDown">
                <div class="btninsert" id="btninsert"></div>
                <div class="dpList" id="dpList">
                    <div class="innerIns">
                        <a href="/Inserimento_Clienti" class="btninsert one"></a><span class="spanIns1">Cliente</span>
                    </div>
                    <div class="innerIns">
                        <a href="/Inserimento_Immobili" class="btninsert two"></a><span class="spanIns2">Immobile</span>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock content %}
    </div>

    <script src="{{ url_for('static', filename='app.js')}}"></script>
    <script src="{{ url_for('static', filename='image.js')}}"></script>
</body>
</html>