{% extends 'base.html' %}
{% block title %} Dettaglio cliente {% endblock title %}
{% block content %}
    <div class="mainSingle">
        <h1>pagina cliente</h1>
        <p>Nome:  {{ nome }}</p>
        <p>Cognome:  {{ cognome }}</p>
        <p>Indirizzo:  {{ indirizzo }}</p>
        <p>Citta:  {{ citta }}</p>
        <p>Cellulare:  {{ cellulare }}</p>
        <p>E-mail:  {{ mail }}</p>
        <p>Compra/Affitta-Vende:  {{ azione }}</p>
        <br>
        <p>Agente:  {{ session['agent'] }}</p>
        <br>
        <br>
        <br>
        {% if immobile != "" %}
            {% for k,v in immobile.items() %}
                {% if k != "immagini" and k != "agente" %}
                    <p>{{ k }}: {{ v }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}