{% extends 'base.html' %}
{% block title %} Dettaglio cliente {% endblock title %}
{% block content %}
    <div class="mainProp">
        <h1>Cliente</h1>
        <div class="side">
        <div class="pagina">
            <table>
                <thead>
                    <tr>
                        <th class="dati">Nome</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{nome}}</td>                     
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Cognome</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{cognome}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Città</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{citta}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Indirizzo</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{indirizzo}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Cellulare</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{cellulare}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">E-mail</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{mail}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Immobile</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{azione}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Agente</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{ session['agent'] }}</td>
                    </tr>
                </thead>
            </table>
        </div>
        <!-------------------FINE FORM CLIENTE-------------->
        <div class="pagina">
            <table>
                <thead>
                    <tr>
                        <th class="dati">Nome</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{nome}}</td>                     
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Cognome</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{cognome}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Città</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{citta}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Indirizzo</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{indirizzo}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Cellulare</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{cellulare}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">E-mail</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{mail}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Immobile</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{azione}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Agente</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{ session['agent'] }}</td>
                    </tr>
                </thead>
            </table>
        </div>
        <!-------------------FINE FORM IMMOBILE-------------->
        <div class="pagina">
            <table>
                <thead>
                    <tr>
                        <th class="dati">Nome</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{nome}}</td>                     
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Cognome</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{cognome}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Città</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{citta}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Indirizzo</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{indirizzo}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Cellulare</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{cellulare}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">E-mail</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{mail}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Immobile</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{azione}}</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <th class="dati">Agente</th>
                        <td>&nbsp&nbsp</td>
                        <td class="linea">{{ session['agent'] }}</td>
                    </tr>
                </thead>
            </table>
        </div>
        <!-------------------FINE FORM-------------->
    </div>
{% endblock %}