{% extends 'base.html' %}
{% block title %} Dettaglio cliente {% endblock title %}
{% block content %}
    <div class="mainSingle">
        <a href="{{url_for('views.clients')}}" class="btnBack"><div class="ico"></div></a>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="message">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container2">
            <div class="content1">
                <h1 style="text-align:center; color:white">Cliente</h1>
                <center>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <td class="linea">{{nome}}</td>
                                <th>Cognome</th>
                                <td class="linea">{{cognome}}</td>
                                <th>Città</th>
                                <td class="linea">{{citta}}</td>                    
                            </tr>
                            <tr>
                                <th>Indirizzo</th>
                                <td class="linea">{{indirizzo}}</td>
                                <th>Cellulare</th>
                                <td class="linea">{{cellulare}}</td>
                                <th>E-mail</th>
                                <td class="linea">{{mail}}</td>
                            </tr>
                            <tr>
                                <th>Stato Immobile</th>
                                <td class="linea">{{azione}}</td>
                                <td></td>
                                <td></td>
                                <th>Agente</th>
                                <td class="linea">{{ session['agent'] }}</td>
                            </tr>
                        </thead>
                    </table>
                </center>
            </div>
            <div class="content2">
                <h2 style="text-align:center;">Immobile</h2>
                <center>
                    <table>
                        <thead>
                            {% if string == "" %}
                            <a href="{{url_for('views.PropPage', nome=nome)}}" style="color: #fff;">Immo</a>
                                <tr>
                                    <th>Proprietario</th>
                                    <td class="linea">{{nome}}</td>
                                    <th>Città</th>
                                    <td class="linea">{{citta2}}</td>
                                    <th>Indirizzo</th>
                                    <td class="linea">{{indirizzo2}}</td>                    
                                </tr>
                                <tr>
                                    <th>Metri<br>Quadri</th>
                                    <td class="linea">{{mQuadri}}</td>
                                    <th>Numero<br>Stanze</th>
                                    <td class="linea">{{numStanze}}</td>
                                    <th>Stato<br>Immobile</th>
                                    <td class="linea">{{vendAff}}</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <a href="{{url_for('views.insert_properties')}}" class="btnNewImmo">Nuovo</a>
                                    <h2 class="newH2">{{ string }}</h2>
                                </tr>
                            {% endif %}
                        </thead>
                    </table>
                </center>
            </div>
            <div class="content3">
                <div class="up">
                    <h2>Richieste Immobiliari</h2>
                    <span class="iconExtend" id="btnEx"></span>
                </div>
                <p>Nessuna richiesta inserita</p>
            </div>
        </div>
    </div>
{% endblock %}