{% extends 'base.html' %}
{% block title %} Clienti {% endblock title %}
{% block content %}
    <div class="mainClient">
        <h1>Clienti</h1>
        <div class="containerClient">
            <table class="tbClient">
                <thead>
                {% for cliente in clienti %}
                <tr>
                    {% for k in cliente.keys() if loop.first %}
                        <th>{{ k }}</th>
                    {% endfor %}
                </tr>
                {% endfor %}
                </thead>
                <tbody>
                {% for cliente in clienti %}
                    <tr>
                        {% for k,v in cliente.items() %}
                            <td>{{ v }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}