{% extends 'HomePage.html' %}
{% block contentHome %}
    <div class="section">
        <div class="container">
            <a href="/HomePage" class="btnclose"></a>
            <form action="" method="post" id="form" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <div class="nome">
                    {{form.nome.label(class_="nome")}}
                    {{form.nome(placeholder="Nome...")}}
                </div>
                <div class="cognome">
                    {{form.cognome.label(class_="cognome")}}
                    {{form.cognome(placeholder="Cognome...")}}
                </div>
                <div class="indirizzo">
                    {{form.indirizzo.label(class_="indirizzo")}}
                    {{form.indirizzo(placeholder="Indirizzo...")}}
                </div>
                <div class="citta">
                    {{form.citta.label(class_="citta")}}
                    {{form.citta(placeholder="Citta...")}}
                </div>
                <div class="cellulare">
                    {{form.cellulare.label(class_="cellulare")}}
                    {{form.cellulare(placeholder="Numero di cellulare...")}}
                </div>
                <div class="mail">
                    {{form.mail.label(class_="mail")}}
                    {{form.mail(placeholder="Email...")}}
                </div>
                <div class="azione">
                    {{form.azione.label(class_="azione")}}
                    {{form.azione()}}
                </div>
                {{form.submit(class_="btnSub")}}
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="message">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
{% endblock contentHome %}