{% extends 'HomePage.html' %}
{% block title %} Inserimento immobile {% endblock title %}
{% block contentHome %}
    <div class="section prop">
        <div class="container scroll">
            <a href="/HomePage" class="btnclose"></a>
            <form action="" method="post" id="form0" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <ul class="ulForm">
                    <li class="liForm"><div>{{form.owner.label}}{{form.owner()}}</div><div>{{form.tipologia.label}}{{form.tipologia()}}</div></li>
                    <li class="liForm"><div>{{form.address.label}}{{form.address()}}</div><div>{{form.city.label}}{{form.city()}}</div></li>
                    <li class="liForm"><div>{{form.vendAff.label}}{{form.vendAff()}}</div><div>{{form.sqMeters.label}}{{form.sqMeters()}}</div></li>
                </ul>
                <ul class="ulForm">
                    <li class="liForm one"><div>{{form.specifichePrinc.label}}{{form.specifichePrinc()}}</div><div class="inpNum">{{form.number.label}}{{form.number()}}</div><div class="btnIns"></div></li>
                </ul>
                <div>{{form.images.label}}{{form.images(class_="imgForm")}}</div>
                <div>{{form.agent.label}}{{session["agent"]}}</div>                    
                {{form.submit()}}
            </form>
        </div>
    </div>
{% endblock contentHome %}