<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    <title>Login CasaSubito</title>
</head>
<body>
    <h2><a href="/HomePage">HOME</a></h2>
    <div class="container">
        <h1>Login</h1>
    <form action="" method="post" id="form" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <div class="utente">
            {{form.utente.label(class_="utente")}}
            {{form.utente()}}
        </div>
        <div class="password">
            {{form.password.label(class_="password")}}
            {{form.password()}}
        </div>
        {{form.submit()}}
    </form>
    <h3>Info Inserite</h3>
    <p>Utente: <b>{{ utente }}</b></p>
    <p>Password: <b>{{ password }}</b></p>
    </div>
</body>
</html>