{% extends 'base.html' %}
{% block title %} Immobili {% endblock title %}
{% block content %}
<div class="mainProp">
    <h1>Immobili</h1>
    <div class="containerProp">
        <table class="tbProp">
            <thead>
                <!-- {% for immobile in immobili %}
                {% if loop.index == 1 %}
                <tr>
                    <th class="open th"></th>
                    {% for k in immobile.keys() if loop.first %}
                        {% if k != "immagini" %}
                            <th>{{ k }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
                {% endfor %} -->
                
                <tr>
                    <th class="open th"></th>
                    {% for item in listHead %}
                        <th>{{ item }}</th>
                    {% endfor %}
                </tr>
                
            </thead>
            <tbody>
                {% for immobile in immobili %}
                <tr>
                    <td class="open"><a href="{{url_for('views.PropPage', nome=immobile['nome'])}}"></a></td>
                    {% for k,v in immobile.items() %}
                        {% if loop.index == 1 %}
                            <td><a href="{{url_for('views.ClientPage', nome=immobile['nome'])}}">{{ v }}</a></td>
                        {% elif k != "immagini" and k != "descrizione" %}
                            <td>{{ v }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% block PropPage %}
    {% endblock %}
</div>
{% endblock content %}