{% extends 'base.html' %}
{% block title %} Dettaglio immobile {% endblock title %}
{% block content %}
    <div class="mainSingle">
        <a href="{{url_for('views.properties')}}" class="btnBack"><div class="ico"></div></a>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="message">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container2">
            <div class="content1">
                <h1 style="text-align:center; color:white">Immobile</h1>
                <center>
                    <table>
                        <thead>
                            <tr>
                                <th>Prorietario</th>
                                <td class="linea">{{nome}}</td>
                                <th>Città</th>
                                <td class="linea">{{citta}}</td>
                                <th>Indirizzo</th>
                                <td class="linea">{{indirizzo}}</td>
                                <th>Metri<br>Quadri</th>
                                <td class="linea">{{mQuadri}}</td>
                                                                    
                            </tr>
                                
                                <th>Numero<br>Stanze</th>
                                <td class="linea">{{numStanze}}</td>
                                <th>Stato<br>Immobile</th>
                                <td class="linea">{{vendAff}}</td>
                                <th>Descrizione</th>
                                <td class="linea colLong" rowspan="2">{{descrizione}}</td> 
                            </tr>
                                <th>Agente</th>
                                <td class="linea">{{ session['agent'] }}</td>
                                <td></td>
                                <td class="clickImmagine"><a href="{{url_for('views.showImg', nome=nome)}}"><span class="material-symbols-outlined">
                                    photo_library
                                    </span></a>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </center>
            </div>
            <div class="content2 long">
                <a href="{{url_for('views.ClientPage', nome=nome)}}" class="btnRedirect"><div class="icona"></div></a>
                <h2 style="text-align:center;">Cliente</h2>
                <center>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <td class="linea">{{nome}}</td>
                                <th>Cognome</th>
                                <td class="linea">{{cognome}}</td>
                                <th>Città</th>
                                <td class="linea">{{citta2}}</td>
                                                
                            <!-- </tr>
                                <th>Indirizzo</th>
                                <td class="linea">{{indirizzo2}}</td> 
                                <th>Cellulare</th>
                                <td class="linea">{{cellulare}}</td>
                                <th>E-mail</th>
                                <td class="linea">{{mail}}</td>
                           </tr> -->
                        </thead>
                    </table>
                </center>
             </div>
             <div class="content3 long">
             <center>
                 <div class="maps">
                     <h2>Ubicazione</h2>
                     <div class="imgGoogle"></div>
                 </div>
            </center>
            </div>
        </div>

        {% block PropPage %}
        {% endblock %}
    </div>
{% endblock %}