{% extends 'base.html' %}
{% block title %} Dettaglio immobile {% endblock title %}
{% block content %}
    <div class="mainProp">
        <h1>Immobile</h1>
        <div class="side">
            <div class="pagina">
                <table>
                    <thead>
                        <tr>
                            <th class="dati">Proprietario</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{nome}}</td>                     
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Città</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{citta}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Indirizzo</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{indirizzo}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Metri Quadri</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{mQuadri}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Numero Stanze</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{numStanze}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Vendita / Affitto</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{vendAff}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Agente</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{ session['agent'] }}</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-------------------FINE FORM CLIENTE-------------->
            <div class="pagina">
                <table>
                    <thead>
                        <tr>
                            <th class="dati">Proprietario</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{nome}}</td>                     
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Città</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{citta}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Indirizzo</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{indirizzo}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Metri Quadri</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{mQuadri}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Numero Stanze</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{numStanze}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Vendita / Affitto</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{vendAff}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Agente</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{ session['agent'] }}</td>
                        </tr>
                        <tr><td>&nbsp&nbsp</td></tr>
                        <tr>
                            <td></td>
                            <td class="clickImmagine"><a href="{{url_for('views.showImg', nome=nome)}}"><span class="material-symbols-outlined">
                                photo_library
                                </span></a>
                            </td>
                            <td></td>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-------------------FINE FORM IMMOBILE-------------->
            <div class="pagina">
                <table>
                    <thead>
                        <tr>
                            <th class="dati">Proprietario</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{nome}}</td>                     
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Città</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{citta}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Indirizzo</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{indirizzo}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Metri Quadri</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{mQuadri}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Numero Stanze</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{numStanze}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Vendita / Affitto</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{vendAff}}</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <th class="dati">Agente</th>
                            <td>&nbsp&nbsp</td>
                            <td class="linea">{{ session['agent'] }}</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-------------------FINE FORM-------------->
        </div>
        {% block PropPage %}
        {% endblock %}
    </div>
{% endblock %}