{% extends 'property_page.html' %}
{% block PropPage %}
<div class="section">
    <div class="container sowImg">
        <a href="{{url_for('views.PropPage', nome=nome)}}" class="btnclose"></a>
        <h1>immagini immobile</h1>
        <h2>{{ nome }}</h2>
        <h2>{{ session['agent'] }}</h2>
        <div class="carousel">
            {% for image in listImg %}
                <p>{{image}}</p>
                <img src="{{url_for('views.image', filename=image)}}" alt="" style="width:200px;height:200px;">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}