{% extends 'property_page.html' %}
{% block PropPage %}
<div class="section">
    <div class="container showImg">
        <a href="{{url_for('views.PropPage', nome=nome)}}" class="btnclose"></a>
        <div class="slider">
            {% for image in listImg %}
            {% set j=loop.index %}
                <div class="slides s{{j}}">
                    <img src="{{url_for('views.image', filename=image)}}" alt="">
                </div>
            {% endfor %}
        </div>
        <div class="carousel">
            {% for image in listImg %}
                {% set i=loop.index %}
                <div class="innerCar">
                    {% if i==1 %}
                        <input type="radio" name="carousel" id="inner{{i}}" checked>
                        
                    {% else %}
                        <input type="radio" name="carousel" id="inner{{i}}">
                    {% endif %}
                    <img src="{{url_for('views.image', filename=image)}}" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}