:root{
    --primary-color: rgba(255,247,0,1);
    --secondary-color: rgba(198,192,0,1);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-family: 'Quattrocento Sans', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
input,
select,
textarea{
    padding: 5px 0 5px 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #000;
}
textarea{
    height: 75px;
    resize: none;
}
input:focus {
    box-shadow: 0 0 3pt 2pt var(--primary-color);
}
.message{
    position: absolute;
    top: 100px;
    right: -200px;
    width: 200px;
    height: 100px;
    background-color: #1adb47;
    z-index: 1000;
    animation: animate1 2s linear;
    animation-delay: 1s;
}
@keyframes animate1 {
    0%{
        right: -200px;
    }
    50%{
        right: 100px;
    }
    100%{
        right: -200px;
    }
}

/* login.html -----------------------------------------------------------*/

.bodyLog{
    background: linear-gradient(to bottom, rgba(255,255,255,.6), rgba(255,255,255,.6)), url('/../static/images/Casa6.jpeg')no-repeat center;
    background-size: cover;
    font-size: 22px;
}
.large{
    width: 300px;
    font-size: 20px;
}
h1{
    margin-bottom: 50px;
}
.container{
    display: flex;
    width: 300px;
    height: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: burlywood;
    border-radius: 15px;
    animation: fade-in 1s ease-in-out;
}
#form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.utente,
.password{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.btnSub{
    padding: 4px 20px;
    margin-top: 20px;
    font-size: 20px;
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    cursor: pointer;
}

/* base.html -----------------------------------------------------------*/

.bodyBase{
    display: flex;
    justify-content: flex-start;
    background-color: whitesmoke;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient(135deg, var(--primary-color)0%, var(--secondary-color)100%);
    z-index: 2;
}
.header .logo{
    width: 70px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
}
.header .logo a{
    display: flex;
    align-items: center;
}
.header .logo img{
    position: relative;
    top: -3px;
    left: 5px;
    width: 70px;
    aspect-ratio: 1;
}
.header .logo p{
    font-size: 28px;
}
.search{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 286px;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
#search{
    width: 250px;
    padding: 5px 0 5px 10px;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    border-top:    1px solid  #000;
    border-right:  0 solid #000;
    border-bottom: 1px solid #000;
    border-left:   1px solid  #000;
    outline: none;
}
.search .icon{
    width: 36px;
    aspect-ratio: 1;
    border-radius: 0 10px 10px 0;
    background: url('images/search.png')no-repeat center;
    border: 1px solid black;
    cursor: pointer;
}
.header .logout{
    position: relative;
    display: flex;
    align-items: center;
}
.header .logout p{
    font-size: 18px;
    font-weight: 600;
}
.header .logout .user{
    position: relative;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: darkcyan;
    cursor: pointer;
    margin-left: 10px;
}
.header .logout .one{
    background-color: darkcyan;
}
.header .logout .two{
    background-color: crimson;
}
.header .logout .three{
    background-color: blueviolet;
}
.header .logout .four{
    background-color: yellowgreen;
}
.header .logout .five{
    background-color: skyblue;
}
.header .logout .user .btnUser{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: url('images/user.png')no-repeat center;
    cursor: pointer;
}
.header .logout .user .userMenu{
    position: absolute;
    bottom: -150%;
    left: -45px;
    width: 100px;
    height: 80px;
    background: var(--secondary-color);
    z-index: -1;
    opacity: 0;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: default;
}
.header .logout .user .visible{
    bottom: -230%;
    opacity: 1;
    z-index: 2;
}
.header .logout .user .userMenu ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    cursor: default;
}
.header .logout .user .userMenu ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    cursor: default;
}
.header .logout .user .userMenu.visible ul li span.userico{
    width: 25px;
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    cursor: default;
}
.userMenu.visible .one{
    background-color: darkcyan;
}
.userMenu.visible .two{
    background-color: crimson;
}
.userMenu.visible .three{
    background-color: blueviolet;
}
.userMenu.visible .four{
    background-color: yellowgreen;
}
.userMenu.visible .five{
    background-color: skyblue;
}
.header .logout .user .userMenu.visible ul li span.iconLogout{
    display: inline-flex;
    width: 20px;
    aspect-ratio: 1;
    margin-right: 10px;
    background: url('images/logout.png')no-repeat center;
}
.main{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.menu{
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 90%, rgba(245,245,245,.4) 100%);
    z-index: 1;
}
.extend{
    height: 300px;
}
.menu .contUp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.menu .contUp a{
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: 600;
    transition: all .3s;
}
.menu .contUp a:hover{
    color: burlywood;
}
.menu .contDown{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu .contDown .btninsert{
    position: relative;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #1adb47;
    margin-top: 20px;
    transition: all .3s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    transition: all .3s;
}
.menu .contDown .btninsert:hover{
    transform: scale(1.1);
}
.menu .contDown .btninsert::before,
.menu .contDown .btninsert::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: black;
    transform: translate(-50%,-50%);
}
.menu .contDown .btninsert::after{
    transform: translate(-50%,-50%) rotate(90deg);
}
.menu .contDown .btninsert.active{
    transform: rotate(225deg) scale(1.1);
    box-shadow: -3px -3px 10px rgba(0, 0, 0, .3);
}
.menu .contDown .dpList{
    position: absolute;
    top: -50%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    z-index: -2;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu.extend .show{
    top: 100%;
    opacity: 1;
    z-index: 1;
}
.menu .contDown .dpList .innerIns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu .contDown .dpList .innerIns .spanIns1,
.menu .contDown .dpList .innerIns .spanIns2{
    font-weight: 600;
    font-size: 20px;
    opacity: 0;
    transition: all .5s linear;
    transition-delay: .3s;
}
.menu .contDown .dpList .innerIns .spanIns2{
    transition-delay: .7s;
}
.menu.extend .dpList.show .animate{
    opacity: 1;
}
.menu .contDown .dpList .btninsert{
    display: flex;
    aspect-ratio: 1;
    margin: 0 20px 0 0;
    cursor: default;
}
.menu .contDown .dpList.show .btninsert{
    cursor: pointer;
}
.menu .contDown .dpList .btninsert.one{
    background: linear-gradient(135deg, var(--secondary-color)0%, var(--primary-color)100%);
    margin-top: 20px;
}
.menu .contDown .dpList .btninsert.two{
    background: linear-gradient(135deg, var(--secondary-color)0%, var(--primary-color)100%);
    margin-top: 20px;

}
.menu .contDown .dpList .btninsert:hover{
    transform: rotate(180deg) scale(1.1);
    box-shadow: -3px -3px 10px rgba(0, 0, 0, .3);
}

/* HomePage.html -----------------------------------------------------------*/

.mainHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 230px;

}
.mainHome main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.obiettivi{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    animation: showObiettivi 1s ease-in-out;
}
@keyframes showObiettivi {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.obiettivi > div{
    background: white;
    padding: 1.8rem;
    border-radius: 2rem;
    margin-top: 1rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    transition: all 300ms ease;
    /* animation: showObiettivi .8s ease-in-out; */
}
/* .obiettivi > div:nth-child(1){
    animation-delay: .2s;
}
.obiettivi > div:nth-child(2){
    animation-delay: .4s;
}
.obiettivi > div:nth-child(3){
    animation-delay: .6s;
}
.obiettivi > div:nth-child(4){
    animation-delay: .8s;
}
.obiettivi > div:nth-child(5){
    animation-delay: 1s;
}
.obiettivi > div:nth-child(6){
    animation-delay: 1.2s;
} */
.obiettivi > div:hover{
    box-shadow: none;
}
.obiettivi > div span{
    background: lightcoral;
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
}
.obiettivi >div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.obiettivi h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}
.obiettivi .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
.obiettivi svg{
    width: 7rem;
    height: 7rem;
}
.obiettivi svg circle{
    fill: none;
    stroke: lightblue;
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

.obiettivi .IN21 svg circle{
    stroke-dashoffset: -170;
    stroke-dasharray: 200;
}
.obiettivi .NT11 svg circle{
    stroke-dashoffset: -130;
    stroke-dasharray: 200;
}
.obiettivi .NT17 svg circle{
    stroke-dashoffset: -80;
    stroke-dasharray: 200;
}
.obiettivi .R4 svg circle{
    stroke-dashoffset: -70;
    stroke-dasharray: 200;
}
.obiettivi .R6 svg circle{
    stroke-dashoffset: -160;
    stroke-dasharray: 200;
}
.obiettivi .REP17 svg circle{
    stroke-dashoffset: -200;
    stroke-dasharray: 200;
}
.obiettivi .progress .number{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-muted{
    color: #7d8da1;
}

/* insert_client.html -----------------------------------------------------------*/

.section{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0,0,0,.4), rgba(0,0,0,.4));
    z-index: 3;
    
}
.section .container{
    position: relative;
    width: 900px;
    height: 600px;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,.8);
    border: 1px solid black;
    animation: fade-in .3s ease-in-out;
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.container .btnclose{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: red;
    transform: rotate(45deg);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
    transition: all .3s;
}
.container .btnclose::before,
.container .btnclose::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: aliceblue;
    transform: translate(-50%,-50%);
}
.container .btnclose::after{
    transform: translate(-50%,-50%) rotate(90deg);
}
.container .btnclose:hover{
    transform: rotate(225deg);
    box-shadow: -3px -3px 10px rgba(0, 0, 0, .3);
}

/* clients.html -----------------------------------------------------------*/

.mainClient{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 220px 0 0;
    overflow-y: hidden;
}
.mainClient h1{
    margin: 10px 0 20px;
}
.mainClient .containerClient{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 480px;
    overflow: auto;
}
.tbClient{
    width: 1100px;
    border: 1px solid #000;
    border-spacing: 0;
}
.tbClient thead{
    position: sticky;
    top: 0;
    height: 70px;
    background-color: lightblue;
}
.tbClient th{
    width: 20%;
    border: 1px solid rgb(200, 200, 200);
}
.tbClient .open.th{
    width: 6%;
    background-color: whitesmoke;
}
.tbClient th:nth-child(3){
    width: 10%;
}
.tbClient th:nth-child(4){
    width: 20%;
}
.tbClient th:nth-child(5){
    width: 15%;
}
.tbClient td{
    height: 50px;
    text-align: center;
    border: 1px solid rgb(200, 200, 200);
}

/* insert_properties.html -----------------------------------------------------------*/

.section.prop .container.scroll{
    height: 700px;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.section.prop .container.scroll form{
    width: 100%;
    display: grid;
    grid-template-columns: 0.75fr 1.25fr 0.75fr 1.25fr;
    gap: 20px;
    padding: 40px 10px 30px;
    font-size: 18px;
}
.section.prop .container.scroll form .lblOwner{
    grid-column-start: 1;
    grid-column-end: 5;
}
.section.prop .container.scroll form .line{
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.3);
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 10px 0;
}
.section.prop .container.scroll form label{
    display: flex;
    align-items: center;
}
.section.prop .container.scroll form input,
.section.prop .container.scroll form select{
    font-size: 16px;
}
.section.prop .container.scroll form #vendAff{
    display: flex;
}
.section.prop .container.scroll form #vendAff input{
    margin-right: 5px;
}
.section.prop .container.scroll form #vendAff li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}
.row-small{
    width: 100px;
}
.row-small input{
    width: 100px;
}
.row-large{
    grid-column-start: 2;
    grid-column-end: 5;
    font-size: 16px;
    padding: 5px 10px;
    line-height: 21px;
}
.imgForm{
    border: none;
    grid-column-start: 2;
    grid-column-end: 4;
}
#file-upload-button{
    padding: 3px 10px;
    border-radius: 8px;
}
.vuoto{
    grid-column-start: 4;
    grid-column-end: 5;
}
.section.prop .container.scroll form .lblAgent{
    justify-content: flex-end;
    grid-column-start: 3;
    grid-column-end: 4;
}
.section.prop .container.scroll form .agent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 5;
}
.section.prop .container.scroll form .btnCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
}
.section.prop .container.scroll form .btnCenter .btnSub{
    font-size: 18px;
    padding: 6px 50px;
    margin-top: 30px;
    border: transparent;
    transition: all .3s;
}
.section.prop .container.scroll form .btnCenter .btnSub:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
}

/* properties.html -----------------------------------------------------------*/

.mainProp{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 220px 0 0;
    overflow-y: hidden;
}
.mainProp h1{
    margin-bottom: 10px;
}
.mainProp .containerProp{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1150px;
    height: 480px;
    overflow: auto;
}
.tbProp{
    width: 1100px;
    border-spacing: 0;
    border: 1px solid #000;
    border-top: none;
}
.tbProp thead{
    height: 70px;
    position: sticky;
    top: 0;
    background-color: lightblue;
}
.open.th{
    width: 4%;
    background-color: whitesmoke;
}
.tbProp th{
    width: 16%;
    border: 1px solid rgb(0,0,0);
}
.tbProp th:nth-child(2),
.tbProp th:nth-child(3){
    width: 15%;
}
.tbProp th:nth-child(4){
    width: 10%;
}
.tbProp th:nth-child(5),
.tbProp th:nth-child(6){
    width: 8%;
}
.tbProp th:nth-child(7),
.tbProp th:nth-child(8){
    width: 10%;
}
.open{
    width: 50px;
    height: 50px;
}
.open a{
    display: flex;
    width: 100%;
    aspect-ratio: 1;
    background: url('/../static/images/occhio-chiuso.png')no-repeat center;
    transition: all .4s;
}
.open a:hover{
    background: url('/../static/images/eye.png')no-repeat center;
}
.tbProp td{
    height: 50px;
    text-align: center;
    border: 1px solid rgb(200, 200, 200);
}

/* property_page.html -----------------------------------------------------------*/



/* show_img.html -----------------------------------------------------------*/

.container.showImg{
    width: 1000px;
    height: 700px;
    align-items: flex-start;
    justify-content: flex-end;
    overflow: hidden;
}
.container.showImg .carousel{
    width: 1000px;
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
    overflow-x: auto;
}
.container.showImg img{
    width: 100%;
    height: 450px;
    border-radius: 10px;
}
.container.showImg .carousel img{
    width: 250px;
    height: 150px;
    margin-right: 10px;
}
